<configuration>

    <appender name="Console" class="ch.qos.logback.core.ConsoleAppender">
		<file>/AplicacionFotos/logs/catalina.out</file>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Definición de diferentes appenders para diferentes clases -->
    <appender name="CargaImagenController" class="ch.qos.logback.core.FileAppender">
        <file>/AplicacionFotos/logs/CargaImagenController.log</file>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>
    <logger name="com.imageProcessor.controller.CargaImagenController" level="DEBUG" additivity="false">
        <appender-ref ref="CargaImagenController" />
    </logger>

    <appender name="security" class="ch.qos.logback.core.FileAppender">
        <file>/AplicacionFotos/logs/security.log</file>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>
    <logger name="com.imageProcessor.security.JwtFilter" level="DEBUG" additivity="false">
        <appender-ref ref="security" />
    </logger>

    <appender name="AI" class="ch.qos.logback.core.FileAppender">
        <file>/AplicacionFotos/logs/AI.log</file>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>
    <logger name="com.imageProcessor.service.AIProcessingService" level="DEBUG" additivity="false">
        <appender-ref ref="AI" />
    </logger>

    <appender name="CargaImagenes" class="ch.qos.logback.core.FileAppender">
        <file>/AplicacionFotos/logs/CargaImagenes.log</file>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>
    <logger name="com.imageProcessor.service.CargaImagenService" level="DEBUG" additivity="false">
        <appender-ref ref="CargaImagenes" />
    </logger>

    <appender name="UsuarioController" class="ch.qos.logback.core.FileAppender">
        <file>/AplicacionFotos/logs/UsuarioController.log</file>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>
    <logger name="com.imageProcessor.controller.UsuarioController" level="DEBUG" additivity="false">
        <appender-ref ref="UsuarioController" />
    </logger>

    <appender name="AuthController" class="ch.qos.logback.core.FileAppender">
        <file>/AplicacionFotos/logs/AuthController.log</file>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>
    <logger name="com.webapp.controllers.AuthController" level="DEBUG" additivity="false">
        <appender-ref ref="AuthController" />
    </logger>

    <appender name="ImageController" class="ch.qos.logback.core.FileAppender">
        <file>/AplicacionFotos/logs/ImageController.log</file>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>
    <logger name="com.webapp.controllers.ImageController" level="DEBUG" additivity="false">
        <appender-ref ref="ImageController" />
    </logger>

    <appender name="MapaController" class="ch.qos.logback.core.FileAppender">
        <file>/AplicacionFotos/logs/MapaController.log</file>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>
    <logger name="com.webapp.controllers.MapaController" level="DEBUG" additivity="false">
        <appender-ref ref="MapaController" />
    </logger>

    <appender name="ViajeController" class="ch.qos.logback.core.FileAppender">
        <file>/AplicacionFotos/logs/ViajeController.log</file>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>
    <logger name="com.webapp.controllers.ViajeController" level="DEBUG" additivity="false">
        <appender-ref ref="ViajeController" />
    </logger>

    <appender name="PasoController" class="ch.qos.logback.core.FileAppender">
        <file>/AplicacionFotos/logs/PasoController.log</file>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>
    <logger name="com.webapp.controllers.PasoController" level="DEBUG" additivity="false">
        <appender-ref ref="PasoController" />
    </logger>

    <appender name="EstadisticasController" class="ch.qos.logback.core.FileAppender">
        <file>/AplicacionFotos/logs/EstadisticasController.log</file>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>
    <logger name="com.webapp.controllers.PasoController" level="DEBUG" additivity="false">
        <appender-ref ref="EstadisticasController" />
    </logger>

    <root level="INFO">
        <appender-ref ref="Console" />
    </root>

</configuration>
